
# PlanAhead Generated physical constraints 

NET "Clk" LOC = V10;
NET "DataIn" LOC = N17;
NET "DataOut[0]" LOC = U16;
NET "DataOut[1]" LOC = V16;
NET "DataOut[2]" LOC = U15;
NET "DataOut[3]" LOC = V15;
NET "DataOut[4]" LOC = M11;
NET "DataOut[5]" LOC = N11;
NET "DataOut[6]" LOC = R11;
NET "DataOut[7]" LOC = T11;
NET "Rst" LOC = B8;
