
CONFIG VCCAUX = "3.3"; //Required for Spartan-6


NET "Clk"      LOC="T8"  | IOSTANDARD="LVCMOS33";

NET "Rx" LOC = "F3" |  IOSTANDARD="LVCMOS33";
NET "Tx" LOC = "G1" |  IOSTANDARD="LVCMOS33";


NET "led<0>"     LOC="A4" | IOSTANDARD="LVCMOS33";
NET "led<1>"     LOC="C5" | IOSTANDARD="LVCMOS33";
NET "led<2>"     LOC="B5" | IOSTANDARD="LVCMOS33";
NET "led<3>"     LOC="A5" | IOSTANDARD="LVCMOS33";
NET "led<4>"     LOC="C6" | IOSTANDARD="LVCMOS33";
NET "led<5>"     LOC="B6" | IOSTANDARD="LVCMOS33";
NET "led<6>"     LOC="A6" | IOSTANDARD="LVCMOS33";
NET "led<7>"     LOC="A7" | IOSTANDARD="LVCMOS33";


NET "Rst"  LOC="D5" | IOSTANDARD="LVCMOS33";








