
# PlanAhead Generated physical constraints 

NET "Clk"  LOC = V10;

NET "ParallelInput[0]"  LOC = T10;
NET "ParallelInput[1]"  LOC = T9;
NET "ParallelInput[2]"  LOC = V9;
NET "ParallelInput[3]"  LOC = M8;

NET "SerialR"  LOC = N8;
NET "SerialL"  LOC = U8;
NET "S0"  LOC = V8;
NET "S1"  LOC = T5;

#NET "Disp[0]"    LOC = N16;
#NET "Disp[1]"    LOC = N15;
#NET "Disp[2]"    LOC = P18;
#NET "Disp[3]"    LOC = P17;

#NET "HorEn"      LOC = C4;
#NET "MinEn"      LOC = D9;

NET "Clr"        LOC = B8;

#NET "Seg[0]"     LOC = T17;
#NET "Seg[1]"     LOC = T18;
#NET "Seg[2]"     LOC = U17;
#NET "Seg[3]"     LOC = U18;
#NET "Seg[4]"     LOC = M14;
#NET "Seg[5]"     LOC = N14;
#NET "Seg[6]"     LOC = L14;
#NET "Seg[7]"     LOC = M13;

NET "Output[0]"  LOC = U16;
NET "Output[1]"  LOC = V16;
NET "Output[2]"  LOC = U15;
NET "Output[3]"  LOC = V15;
#NET "Test"  LOC = M11;
#NET "SegOut[5]"  LOC = N11;
#NET "SegOut[6]"  LOC = R11;
#NET "SegOut[7]"  LOC = T11;

